{% set active_page = "file" -%}
{% include "header.html" %}
    <div class="container px-3 pt-3 lead">
        <form method=POST enctype=multipart/form-data action="{{ url_for('identify_from_file') }}">
            {% include "output_scheme_selector.html" %}
            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="file_upload">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="text_file" name="text_file" aria-describedby="file_upload">
                    <label class="custom-file-label" for="text_file">Choose text file</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Analyse</button>
            {% include "text_mode_selector.html" %}
        </form>
        <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        })
        </script>
    </div>
    <div class="container px-3 pb-3 lead">
        {% include "result.html" %}
    </div>
{% include "footer.html" %}